body {
  background-color: #b0e0e6;
  font-family: "Georgia", "Times", serif;
  font-size: 18px;
  line-height: 120%;
  padding: 40px;
}

a {
  color: #775555;
}

p {
  margin-bottom: 20px;
}

b {
  font-weight: 700;
}

ol, ul {
  margin-bottom: 20px;
  margin-left: 30px;
}
ol li {
  list-style-type: decimal;
  margin-bottom: 10px;
}

ul li {
  list-style-type: disc;
  margin-bottom: 10px;
}

div.swc {
  background-color: #fff;
  // looking at this makes my head hurt
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 20px;
  position: relative;
  width: 500px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
